@import "reset.css";

.Btn_number {
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px gray;
}

.Btns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

/* .Btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: white;
  margin: 0 30px;
  color: inherit;
  text-decoration: none;

} */
.Btn_img {
  height: 280px;
  width: 380px;
}

.BtnNNumber {
  padding: 0px 30px;
}
.Btn_info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: white;
  font-size: 20px;
  color: black;
  font-weight: 600;
}
.Btn {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}
.Btn:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.025);
}
