.Setting_input {
  border: none;
  border-radius: 5px;
}

.labeling_save_btn {
  height: 50px;
  width: 100px;
  font-size: 25px;
  border: none;
  background-color: #b2bfff;
  border-radius: 20px;
  cursor: pointer;
}
