@import "reset.css";

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  width: 100%;
}

main {
  background-color: #e6eafc;
  height: 1000px;
}

.header {
  display: flex;
  align-items: center;
  background-color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.header .header__center {
  margin: 25px auto;
  width: 1600px;
}

.header .header__center .header__title {
  display: flex;
  justify-content: flex-end;
  font-size: 23px;
  padding-right: 110px;
}

.project-bar {
  width: 1200px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 55px;
  margin-bottom: 10px;
}

.project-bar__column {
  display: flex;
}

.project-bar__column .project-bar__title {
  font-size: 25px;
  margin: 0 55px;
  margin-top: 30px;
}

.project-bar__column .new-project-btn {
  margin-left: 60px;
  font-size: 25px;
  font-weight: 700;
  width: 230px;
  padding: 20px 0;
  border-radius: 15px;
  background-color: white;
  display: flex;
  justify-content: center;
  color: inherit;
  text-decoration: none;
}

.new-project-btn__column {
  margin-left: 100px;
}
.project-lists {
  display: flex;
  justify-content: space-between;
  width: 1300px;
  height: 65px;
  margin: 0 auto;
  background-color: white;

  border: 1px solid #908a8a;
}

.project-list {
  height: 65px;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  border-bottom: 1px solid #989898;
}
.project-list_info {
  display: flex;
}
.project_date {
  margin-left: 30px;
}
.project_name {
  margin-left: 45px;
}

.project-btns {
  display: flex;
  align-items: center;
}

.project-btn {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding: 5px 25px;
  border-radius: 10px;
  font-weight: bold;
}
.project-btn:hover {
  cursor: pointer;
}
.project-train-btn {
  background-color: #d1e5ee;
  margin-right: 20px;
}

.project-test-btn {
  background-color: #eecd59;
}
.project-lists2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1300px;
  height: 500px;
  margin: 0 auto;
  background-color: white;
  padding: 20px 40px;
  border: 1px solid #908a8a;
  font-size: 20px;
}
