.WhatToDo {
  width: 1300px;
  margin: 0px auto;
  padding: 40px 0px;
}

.WTD_Eng {
  font-size: 40px;
  font-weight: 900;
  color: white;
  margin-bottom: 30px;
}

.WTD_Kor {
  font-size: 28px;
  font-weight: 700;
  color: black;
}

.Setting_select {
  width: 1300px;
  margin: 0 auto;
  display: flex;
}

.Setting_column {
  padding-right: 100px;
}

.Setting_big_item {
  font-size: 30px;
  font-weight: 600;
  color: black;
  margin-bottom: 30px;
}

.Setting_list {
  display: flex;
}
.Setting_item__help {
  width: 40px;
  padding-top: 5px;
  margin-right: 50px;
}


.Training_Tool {
  padding-left: 220px;
  margin-bottom: 30px;
}

.Parameter_Setting {
  display: flex;
}
.Setting_item {
  width: 150px;
  font-size: 25px;
  color: black;
  margin-bottom: 16px;
}

.Setting_inputs {
  display: flex;
  flex-direction: column;
}

.Setting_input {
  width: 200px;
  height: 30px;
  background-color: white;
  margin-bottom: 20px;
}

